*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('istockphoto-1128410927-612x612.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: black;
}

.clock{
    padding-top: 1vh;
    display: flex;
}

.clock div{
    margin: 5px;
}

.clock span {
    width: 100px;
    height: 80px;
    background-color: blueviolet;
    color: black;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgb(95, 95, 95);
}

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.8;
    background-color: rgb(196, 12, 12);
}